/*Triết*/
.btn-warning.btn {
    font-size: 15px;
    color: black;
    padding: 15px 30px 15px 30px;
    background-color: yellow;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
}
